<div class="templatemo-about" id="templatemo-about">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header">
              <div class="text-center">
                  <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">ABOUT US</span>
                  <hr class="team_hr team_hr_right hr_gray"/>
              </div>
            </div>
        </div>

        <div class="templatemo-center-header">
          <span>
            <p>Elevated Computer Specialists is a managed services provider able to help U.S. clients maximize their ROI on technology. Leveraging ECS’s expertise, clients are able to make smarter investments in their technology—proving that good, reliable IT is an investment, not an expense.</p>

            <p>Leveraging the breadth of its employees’ backgrounds, ECS can support clients in all industries. However, the unique structure of doctors’ offices, law firms, real estate offices, and publishers &mdash;security and encryption, permission sets, uptime, compatibility&mdash; make them ideal clients for ECS. <span class="txt_orange">MEET OUR TEAM!</span></p>
          <span>
        </div>

        <div class="clearfix"> </div>
            <ul class="row row_team">
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <img src="images/member1.jpg" class="img-responsive" alt="member 1" />
                            <div class="thumb-overlay">
                                <a href="#"><span class="social-icon-fb"></span></a>
                                <a href="#"><span class="social-icon-twitter"></span></a>
                                <a href="#"><span class="social-icon-linkedin"></span></a>
                            </div>
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">DUSTIN BASTIN</p>
                            <p class="team-inner-subtext">Owner</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <img src="images/member2.jpg" class="img-responsive" alt="member 2" />
                            <div class="thumb-overlay">
                                <a href="#"><span class="social-icon-fb"></span></a>
                                <a href="#"><span class="social-icon-twitter"></span></a>
                                <a href="#"><span class="social-icon-linkedin"></span></a>
                            </div>
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">ERIK BROWN</p>
                            <p class="team-inner-subtext">CFO</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <img src="images/member3.jpg" class="img-responsive" alt="member 3" />
                            <div class="thumb-overlay">
                                <a href="#"><span class="social-icon-fb"></span></a>
                                <a href="#"><span class="social-icon-twitter"></span></a>
                                <a href="#"><span class="social-icon-linkedin"></span></a>
                            </div>
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">FERNANDO del VALLE</p>
                            <p class="team-inner-subtext">IT Consultant</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <img src="images/member4.jpg" class="img-responsive" alt="member 4" />
                            <div class="thumb-overlay">
                                <a href="#"><span class="social-icon-fb"></span></a>
                                <a href="#"><span class="social-icon-twitter"></span></a>
                                <a href="#"><span class="social-icon-linkedin"></span></a>
                            </div>
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">TREVOR KEY</p>
                            <p class="team-inner-subtext">IT Consultant</p>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div><!-- /.templatemo-team -->
