<div>
    <!-- Carousel -->
    <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#templatemo-carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>{{ site.title }} is an IT Managed Service Provider</h1>
                        <p>Make smarter investments in your technology.</p>
                        <p><a class="btn btn-lg btn-green" href="#" role="button">Schedule an evaluation</a></p>
                    </div>
                </div>
            </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption">
                        	<h1>Find the answers you need with {{ site.title }}</h1>
                            <p>Are your data backups completing correctly?</p>
                            <p><a class="btn btn-lg btn-orange" href="#" role="button">Schedule a service call</a></p>
                        </div>
                    </div>
                </div>
        </div>
        <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /#templatemo-carousel -->
</div>
