<div id="templatemo-client-support">
  <div class="container">
    <div class="row">
      <div class="templatemo-line-header head_contact">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">CLIENT SUPPORT</span>
          <hr class="team_hr team_hr_right hr_gray"/>


            <div class="templatemo-center-header">
              <span>
                <p>Existing clients can simply email <a class="link_orange" href="mailto:{{site.zendesk_email }}?subject=ECS Existing Client">{{site.zendesk_email}}</a> with a short description of the problem and we'll follow up within two business hours.</p>
              <span>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
