<div class="templatemo-client-support" id="templatemo-client-support">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/leaf.png" alt="icon" />
                        <span class="templatemo-service-item-header">AWESOME ICONS</span>
                    </div>
                    <p>Nam porta adipiscing tortor, eget rutrum turpis bibendum ut. Donec eu lacus in diam euismod imperdiet eu ut turpis. Morbi felis orci, tincidunt pretium laoreet id, euismod et lacus. Praesent aliquet magna vitae mi elementum pharetra.</p>
                    <div class="text-center">
                    	<a href="#"
                        	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>
                    <br class="clearfix"/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item" >
                    <div>
                        <img src="images/mobile.png" alt="icon"/>
                        <span class="templatemo-service-item-header">FULLY RESPONSIVE</span>
                    </div>
			<p><a rel="nofollow" href="http://www.templatemo.com/preview/templatemo_395_urbanic" target="_parent">{{ site.title }}</a> is free responsive mobile website template by templatemo. Credits go to <a rel="nofollow" href="http://getbootstrap.com">Bootstrap</a> for responsive layout and <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used in this template. Curabitur non eros ut dolor tincidunt interdum sit amet vitae quam.</p>
                    <div class="text-center">
                        <a href="#"
                        	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>
                    <br class="clearfix"/>
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/battery.png" alt="icon"/>
                        <span class="templatemo-service-item-header">HIGH EFFICIENCY</span>
                    </div>
                    <p>Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum consectetur vel, egestas sit amet erat. Morbi rhoncus leo fermentum viverra.</p>
                    <div class="text-center">
                        <a href="#"
                        	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>
</div>
