<div id="templatemo-services" >
    <div class="container" >
        <div class="row">
            <div class="templatemo-line-header" >
                <div class="text-center">
                    <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">SERVICES</span>
                    <hr class="team_hr team_hr_right hr_gray" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="templatemo-gallery-category" style="font-size:16px; margin-top:80px;"></div>
        </div> <!-- /.row -->
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_eyeball.png" alt="icon" />
                        <span class="templatemo-service-item-header">MAINTAIN YOUR IT</span>
                    </div>
                    <p>Maintain 24/7 watch over your entire IT environment</p>

                    <br class="clearfix"/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item" >
                    <div>
                        <img src="images/services_magclass.png" alt="icon"/>
                        <span class="templatemo-service-item-header">PREVENT PROBLEMS</span>
                    </div>
			                 <p>Identify and analyze server “events” for potential problems</p>

                    <br class="clearfix"/>
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_hammer.png" alt="icon"/>
                        <span class="templatemo-service-item-header">PROTECT YOUR SYSTEM</span>
                    </div>
                    <p>Remediate processes or services that fail</p>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_arrows.png" alt="icon" />
                        <span class="templatemo-service-item-header">STAY UP-TO-DATE</span>
                    </div>
                    <p>Ensure security patches, service packs and anti-virus protocols are up-to-date</p>

                    <br class="clearfix"/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item" >
                    <div>
                        <img src="images/services_lock.png" alt="icon"/>
                        <span class="templatemo-service-item-header">GET COMPLETE BACKUPS</span>
                    </div>
			                 <p>Ensure that data backups are completed</p>

                    <br class="clearfix"/>
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_headset.png" alt="icon"/>
                        <span class="templatemo-service-item-header">HERE FOR YOU</span>
                    </div>
                    <p>Up to 24/7 help desk tech support</p>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>
