<div id="templatemo-services" >
    <div class="container" >
        <div class="row">
            <div class="templatemo-line-header" >
                <div class="text-center">
                    <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">SERVICES</span>
                    <hr class="team_hr team_hr_right hr_gray" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="templatemo-gallery-category" style="font-size:16px; margin-top:80px;"></div>
        </div> <!-- /.row -->
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_eyeball.png" alt="icon" />
                        <span class="templatemo-service-item-header">MAINTAIN YOUR IT</span>
                    </div>
                    <p><strong>Maintain 24/7 watch over your entire IT environment.</strong> 24/7 monitoring is a proactive IT approach and allows us to monitor trends on your company's systems. Whether it’s consistent, high CPU usage on a desktop or server, or failing a hard drive — we will be notified. Our goal is to minimize IT disruptions to your staff and operations.</p>

                    <br class="clearfix"/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item" >
                    <div>
                        <img src="images/services_magclass.png" alt="icon"/>
                        <span class="templatemo-service-item-header">PREVENT PROBLEMS</span>
                    </div>
			                 <p><strong>Identify and analyze server events for potential problems.</strong> Mac OS and Windows environments can have sporadic issues if they are improperly configured. For example, a Mac should use CIFS instead of SMB when accessing file shares and be joined to the domain. Our work is centered on keeping your IT system running as efficiently as possible, giving you the reliability you deserve.</p>

                    <br class="clearfix"/>
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_hammer.png" alt="icon"/>
                        <span class="templatemo-service-item-header">PROTECT YOUR SYSTEM</span>
                    </div>
                    <p><strong>The best anti-virus program or latest firewall will not fully protect your critical business assets alone,</strong> but a layered approach to security can keep you business safe. We recommend anti-virus and anti-malware software, firewall with DPI and DPI-SSL, gateway anti-virus, and a third party spam filter. We always remediate processes or services that fail to keep your system safe.</p>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_arrows.png" alt="icon" />
                        <span class="templatemo-service-item-header">STAY UP-TO-DATE</span>
                    </div>
                    <p><strong>Ensure security patches, service packs and anti-virus definitions are up-to-date.</strong> Keeping up with the viruses and using the most current definitions of known viruses keeps the company as safe as possible. To this end, we deploy security patches to cover known exploits of the operating systems and software, protecting your data and network from hackers. The more up-to-date your IT system is, the more secure and protected it will be.</p>

                    <br class="clearfix"/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item" >
                    <div>
                        <img src="images/services_lock.png" alt="icon"/>
                        <span class="templatemo-service-item-header">GET COMPLETE BACKUPS</span>
                    </div>
			                 <p><strong>Ensure that data backups are completed.</strong> It’s industry best practice for backups to be monitored by a tech — and periodically tested in a restoration process. The best backup systems perform incremental backups, performing as often as once each hour. This keeps the company ready to recover from the most recent backup point.</p>

                    <br class="clearfix"/>
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_monitoring.png" alt="icon"/>
                        <span class="templatemo-service-item-header">CONSTANTLY MONITOR</span>
                    </div>
                    <p><strong>Up to 24/7 monitoring support.</strong> We will watch your IT system for slow or failing components which can hinder performance, such as issues with network connections. To measure a system, we look at response time and availability (uptime) of servers. We also check for the consistency and reliability of application servers and IT equipment. If anything breaks, we’ll know!</p>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>
