<div id="templatemo-services" >
    <div class="container" >
        <div class="row">
            <div class="templatemo-line-header" >
                <div class="text-center">
                    <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">SERVICES</span>
                    <hr class="team_hr team_hr_right hr_gray" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="templatemo-gallery-category" style="font-size:16px; margin-top:80px;"></div>
        </div> <!-- /.row -->
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_eyeball.png" alt="icon" />
                        <span class="templatemo-service-item-header">MAINTAIN YOUR IT</span>
                    </div>
                    <p><strong>Maintain 24/7 watch over your entire IT environment.</strong> 24/7 monitoring is a proactive IT approach rather than a reactive approach and allows us to monitor trends on your company's systems. Whether it’s consistent, high CPU usage on a desktop or server, or failing hard drive — we will be notified. Our goal is to minimize IT disruptions to your staff and operations, thus saving you money.</p>

                    <br class="clearfix"/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item" >
                    <div>
                        <img src="images/services_magclass.png" alt="icon"/>
                        <span class="templatemo-service-item-header">PREVENT PROBLEMS</span>
                    </div>
			                 <p><strong>Identify and analyze server “events” for potential problems.</strong> Mac OS and Windows environments can have sporadic “issues” if they are improperly configured. For example, a Mac should use CIFS instead of SMB when accessing file shares and be joined to the domain. Another flaw is expecting to increase throughput by connecting both NICs of a Windows Server to a switch as there is further configuration required with NIC teaming on the server and LACP on the switch. Packet loss will occur if LACP is not configured.</p>

                    <br class="clearfix"/>
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_hammer.png" alt="icon"/>
                        <span class="templatemo-service-item-header">PROTECT YOUR SYSTEM</span>
                    </div>
                    <p><strong>Remediate processes or services that fail.</strong> Security should be handled via a layered approach. Buying the best anti-virus program will not fully protect your critical business assets. We recommend anti-virus and anti-malware software, firewall with DPI and DPI-SSL, gateway anti-virus, and a third party spam filter. Other recommendations include configuring the switches to prevent access to unknown computers, securing all network equipment and servers in a locked, well ventilated room, and configuring all VLANs to manage network traffic while logically separating this traffic to increase security.</p>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_arrows.png" alt="icon" />
                        <span class="templatemo-service-item-header">STAY UP-TO-DATE</span>
                    </div>
                    <p><strong>Ensure security patches, service packs and anti-virus definitions are up-to-date.</strong> Anti-virus is always a losing race because it’s only protecting you against known threats: this year’s cryptowall virus will have a different signature than last year’s, meaning there will be little guarantee you’ll be protected. Keeping up with the viruses and using the most current ‘definitions’ of known viruses keeps the company as safe as possible. To this end, we deploy security patches to cover known exploits of the operating systems and software, protecting your data and network from hackers. The more up-to-date your system is, the more secure and protected it will be.</p>

                    <br class="clearfix"/>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item" >
                    <div>
                        <img src="images/services_lock.png" alt="icon"/>
                        <span class="templatemo-service-item-header">GET COMPLETE BACKUPS</span>
                    </div>
			                 <p><strong>Ensure that data backups are completed.</strong> Imagine sitting down to do ‘your job’ and the file you’ve spent 6-months building is gone. POOF! Imagine if everyone in the company experienced the same thing. How much lost productivity can your company sustain? It’s industry best practice for backups to be monitored by a tech — and periodicly tested in a restoration process. The best backup systems perform incremental backups, performing as often as once each hour. This keeps the company ready to recover from the most recent backup point. We offer a business continuity service that takes and stores regular backups every hour/day/week/month. A virtual copy of the server can be created on the device for employees to continue working from. In addition, we also provide a cloud backup option which can protect against flooding or fire damage.</p>

                    <br class="clearfix"/>
                </div>

            </div>

            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="images/services_headset.png" alt="icon"/>
                        <span class="templatemo-service-item-header">HERE FOR YOU</span>
                    </div>
                    <p><strong>Up to 24/7 monitoring support.</strong> "It’s 9 p.m. We receive a message that your server is down. We contact the appropriate person at your company to notify them of the emergency. We get permission to go on-site and correct the problem. Employees arrive to work in the morning, unaware of the night’s near-disaster.” So what happened in the first place? In this case, the server had failed to startup after a routine restart after patching. The registry had become corrupted and an operating system could not be found. Startup repair was not working so ECS had to enter windows recovery on an OS DVD, run command prompt, and replace registry files from backup.</p>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>
